body
{
    margin: 0;
    font-family: Bebas Neue;
}

.navigation
{
    overflow: hidden;
    background-color: rgb(127, 58, 255);
    position: fixed;
    top: 0%;
    width: 100%;
    margin-left: 0%;

}

.navigation a
{
    float: right;
    display: block;
    color: white;
    font-family: Bebas Neue;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.navigation a:hover
{
background-color: rgb(128, 240, 255);
}
#home
{
    margin-bottom: 5px;
    float: left;
    font-size: 30px;
}

.container
{
    margin-top: 70px; 
    height: 900px;
    width: 100vw;
    background-color: rgb(231, 221, 248);
}

h1
{
padding-top: 59px;
text-align:center; 
letter-spacing: 8px;
text-shadow:none;
text-decoration: none;
}

hr{
    margin-top: -30px;
}
#model
{
    padding-top: 40px;
    padding-left: 130px;
}

.intro
{
    height: 100vh;
    width: 100vw;
    background-color:rgb(white) ;
}

#queensint
{
    margin-top: 0;
    padding-top: 150px;
    padding-left: 30px;
text-align:left; 
letter-spacing: 8px;
text-shadow: -2px 2px rgb(255, 106, 130);
text-decoration: none;
font-family: Staatliches;
font-size: 70px;
}
#queensinto{
    padding-top: 5px;
    padding-right: 70px;
    padding-left: 570px;
    font-family: Cambria, Cochin, 'Georgia', Times, Times New Roman, serif;
    

}

#queensiimage
{   
    padding-top: 205px;
    padding-left: 50px;
    width: 500px;
    float: left;
    display: inline;
    padding-top: 30px;
    border-radius: 15px;

}

.climate
{
    border-collapse: collapse;
    border: 0;
    height: 330vh;
    width: 100vw;
    background-color:rgb(rgb(235, 218, 212)) ;
}

#climatep
{
    padding-top: -80px;
    padding-right: 70px;
    padding-left: 70px;
    font-family: Cambria, Cochin, 'Georgia', Times, Times New Roman, serif;
}

#intropic
{
    padding-top: 20px;
    padding-left: 10px;
    width: 1260px;
}

#queensintx
{
    padding-top: 600px;
    padding-left: 70px;
    padding-right: 70px;
    font-family: Staatliches;
    font-size: 60px;
    text-align: left;
    text-shadow: none;
    text-decoration: none;
    letter-spacing: 2px;

}

#deforetion
{
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 70px;
    font-family: Staatliches;
    font-size: 60px;
    text-align: left;
    text-shadow: none;
    text-decoration: none;
    letter-spacing: 2px;

}

/*Dichotomous key*/

.intro2
{
    height: 100vh;
    width: 100vw;
}

#Microsoft
{
    padding-left: 370px;
}


.collapsible {
    background-color: rgb(230, 204, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(184, 255, 240);
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
  }

  #clicktoopen
  {
      padding-left: 10px;
      font-size: 20px;
  }

  button
  {
      font-size: 50px;
      font-family: Bebas Neue;
  }

  .content{
      font-family: Open Sans;
  }





