

body
{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    margin: 0%;
    background-position: 0; 
    background-image: url("https://images.unsplash.com/photo-1613779907266-f85db34edae5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1038&q=80");
  }

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #title
  {
   font-family: Bebas Neue;
   letter-spacing: 10px;
   font-size: 60px;
  }

  #subtitle2
  {
    margin-top: -15px;
    margin-right: 70px;
    font-family: Bebas Neue;
    letter-spacing: 10px;
    font-size: 30px;
  }


  .navigation {
    z-index: 100;
    height: 2.5cm; 
    position: fixed;
    overflow: hidden;
    background-color: rgb(127, 58, 255);
    width: 100vw; 
  }
  
  .navigation a {
    float: right;
    right: 100px;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 25px;
    font-family: Bebas Neue; 
    margin-top: 10px;

  }
    .navigation a:hover {
    background: rgb(128, 240, 255);
    color: black;
  }

#home
{
    float: left;
    font-size: 30px;
    margin-left: 0%;
    margin-top: 10px;
}
  